*,
*::before,
*::after {
    box-sizing: border-box;
}

div.container {
    min-width: 320px;
    max-width: 1280px;
    
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color:var(--black)
}

section {
    margin: 0;
    margin-bottom: 120px;
}

.intro img {
    border-radius: 50%;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;

    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;

    margin: 0;
    margin-bottom: 40px;
}

a {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    text-align: center;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

button {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    text-align: center;

    padding: 0;
    border: none;
    color: var(--green);
    background-color: transparent;
    cursor: pointer;

    text-transform: lowercase;

    box-sizing: border-box;

    padding: 6px 10px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    
}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

p.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;

    margin-top: 0;

    color:var(--green);
}

.main-header {
    display: flex;

    margin: 0;
    margin-bottom: 120px;
    padding-top: 60px;
    gap: 40px;

    align-items: center;
}

.main-nav {
    display: flex;
}

.main-nav a {
    text-decoration: none;

    padding: 10px 15px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;


    text-align: center;

    color:var(--black);
}

.main-nav a:hover {
    color: var(--green);
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 70px;
}

.intro div {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
}

.intro h1 {
    margin-bottom: 20px;
}

.text-wrapper {
    max-width: 800px;
}

.skill h2 {
    margin: 0;
}

.skill div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    
    margin: 0;
}

div.skill-about {
    margin-bottom: 40px;
}

.skill-button p {
    margin: 0;
}

.skill-button {
    padding: 0;
    gap: 20px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;

    text-transform: lowercase;
}

.skill-list dd{
    margin: 4px 0 20px 0;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.skill-list div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;

    margin-bottom: 0;
}

.skill-item_html {
    background-image: url("../img/icon-html.svg");
}


.skill-item_java {
    background-image: url("../img/icon-java.svg");
}


.skill-item_python {
    background-image: url("../img/icon-python.svg");
}


.skill-item_cpp {
    background-image: url("../img/icon-c++.svg");
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    gap: 40px;

    list-style-type: none;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact a {
    text-decoration: none;
    color: var(--black);

    padding-left: 42px;
    gap: 12px;

    background-repeat: no-repeat;
    background-position: 0;
}

.contact a:hover {
    color: var(--green);
}

.contact-link_phone {
    background-image: url(../img/contactsicon-phone.svg);
}

.contact-link_mail {
    background-image: url(../img/contactsicon-mail.svg);
}

.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: 50%;
}

.social a:hover {
    background-color: var(--green);
}

.social-link_github {
    background-image: url(../img/property-github.svg);
}

.social-link_gitlab {
    background-image: url(../img/property-gitlab.svg);
}

.social-link_telegram {
    background-image: url(../img/property-telegram.svg);
}

.social-link_vk {
    background-image: url(../img/property-vk.svg);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-footer {
    color:var(--white);
    background-color: var(--black);

    padding: 50px 0px 50px 0px;
    gap: 10px;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}